<p style="color: green"><%= notice %></p>

<h1><%= link_to "НА ГЛАВНУЮ", root_path %></h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>
<%= paginate @posts %>

<%= link_to "СОЗДАТЬ НОВУЮ СТАТЬЮ", new_post_path %>
